@font-face
  font-family: "iconfont"
  src: url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.eot')
  src: url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2425314_fpb89sun99p.svg#iconfont') format('svg')

.iconfont
  font-family: "iconfont", serif !important
  font-size: .16rem
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

