@font-face
  font-family: "iconfont"
  src: url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.eot')
  src: url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.woff') format('woff'),
  url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2425314_yeqoiv34qma.svg#iconfont') format('svg')

.iconfont
  font-family: "iconfont" !important
  font-size: 16px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

